/* src/shared/styles/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5DA649; /* Verde */
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  height: 60px; /* Altura fixa */
  position: fixed; /* Fixa o header no topo */
  top: 0; /* Garante que ele está no topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Faz o header ocupar toda a largura */
  z-index: 1000;
}

.logo-header {
  width: 250px; /* Defina a largura desejada */
  height: auto;
}

.logo-home {
  width: 600px; /* Defina a largura desejada */
  height: auto;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav li {
  margin-left: 20px;
}

.header nav a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}
