/* src/pages/Home/Home.css */
.home {
  background-color: #A64182; /* Fundo roxo */
  background-image: url('../../img/fundo2.png'); /* Padrão de fundo */
  background-size: 100%; /* Tamanho do padrão */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 600px;
  height: auto;
  margin-bottom: 20px; /* Espaço entre a logo e os botões */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #5DA649 30%, #A3BF3B 45%, #5DA649 75%); /* Mistura centralizada */
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.header nav a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

.header nav a:hover {
  color: #A64182; /* Cor roxa ao passar o mouse */
}
