/* Página do Dashboard */
.dashboard-page {
  color: #FFF;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo-dashboard {
  width: 200px; 
  height: auto;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {

  color: #FFF;
  text-decoration: none;
}

.logout a {
  color: #FF6347;
}

.dashboard-content {
  text-align: center;
}

.slide-item {
  width: 60%; /* Garante que a imagem ocupe toda a largura do slide */
  height: auto; /* Mantém a proporção da imagem */
  opacity: 0.7; /* Define a opacidade em 50% */
  transition: opacity 0.3s ease; /* Animação para suavizar mudanças */
}

.swiper {
  margin-top: 50px; /* Cria o espaço acima do slider */
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.5); /* Define uma cor semitransparente */
  font-size: 18px; /* Reduz o tamanho das setinhas */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff; /* Torna a cor totalmente branca ao passar o mouse */
}