/* src/pages/Dashboard/Dashboard.css */
body {
    background-image: url('/src/img/fundo2.png');
    background-size: cover;
    background-color: #A64182;
    font-family: Arial, sans-serif;
  }
  
  .main-content {
    text-align: center;
    padding: 50px 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
  
  .grid-item {
    background-color: #732457;
    color: #FFF;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .grid-item:hover {
    background-color: #A64182;
  }
  